.timeText {
  font-size: 30;
  font-family: System-Bold;
  text-length: 18;
  text-anchor: end;
  fill: white;
}

.monitorText {
  font-size: 16;
  font-family: System-Bold;
  text-length: 8;
  text-anchor: start;
  fill: white;
}

.sgvText {
  font-size: 70;
  font-family: System-Regular;
  text-length: 12;
  text-anchor: end;
  fill: white;
}

.noiseText {
  font-size: 16;
  font-family: System-Bold;
  text-length: 8;
  text-anchor: end;
  fill: white;
}
.dirText {
  font-size: 120;
  font-family: System-Regular;
  text-length: 4;
  text-anchor: end;
  fill: white;
}

.ageText {
  font-size: 16;
  font-family: System-Bold;
  text-length: 16;
  text-anchor: start;
  fill: green;
}

.batteryText {
  font-size: 16;
  font-family: System-Bold;
  text-length: 6;
  text-anchor: start;
  fill: white;
}

.deltaText {
  font-size: 22;
  font-family: System-Bold;
  text-length: 6;
  text-anchor: start;
  fill: white;
}

.scaleText {
  font-size: 16;
  font-family: System-Bold;
  text-length: 6;
  text-anchor: end;
  fill: white;
}

.gval {
  fill: green;
}

.application-fill           { fill: fb-pink; }
.foreground-fill            { fill: fb-white; }
.background-fill            { fill: fb-black; }

#btnLeft #text {
  text-buffer: "MUTE";
}

#btnRight #text {
  text-buffer: "SNOOZE";
}