.timeText {
  font-size: 30;
  font-family: Colfax;
  font-weight: bold;
  text-length: 18;
  text-anchor: end;
  fill: white;
}

.monitorText {
  font-size: 30;
  font-family: Colfax;
  font-weight: bold;
  text-length: 8;
  text-anchor: start;
  fill: white;
}

.sgvText {
  font-size: 80;
  font-family: Fabrikat;
  font-weight: regular;
  text-length: 12;
  text-anchor: end;
  fill: white;
}

.noiseText {
  font-size: 16;
  font-family: Colfax;
  font-weight: bold;
  text-length: 8;
  text-anchor: end;
  fill: white;
}
.dirText {
  font-size: 120;
  font-family: Fabrikat;
  font-weight: regular;
  text-length: 4;
  text-anchor: end;
  fill: white;
}

.ageText {
  font-size: 16;
  font-family: Colfax;
  font-weight: bold;
  text-length: 16;
  text-anchor: start;
  fill: green;
}

.batteryText {
  font-size: 16;
  font-family: Colfax;
  font-weight: bold;
  text-length: 6;
  text-anchor: start;
  fill: white;
}

.deltaText {
  font-size: 22;
  font-family: Colfax;
  font-weight: bold;
  text-length: 6;
  text-anchor: start;
  fill: white;
}

.scaleText {
  font-size: 16;
  font-family: Colfax;
  font-weight: bold;
  text-length: 6;
  text-anchor: end;
  fill: white;
}


.gval {
  fill: green;
}
